<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>fr.exemple.twitterloot</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3.9</string>
        <string>/Users/YourUserHere/Documents/GitHub/twitterloot/twitter.py</string>
    </array>
    <key>StartInterval</key>
    <integer>1200</integer>
    <key>StandardOutPath</key>
    <string>/Users/YourUserHere/Documents/GitHub/twitterloot/logfile.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/YourUserHere/Documents/GitHub/twitterloot/errorlogfile.log</string>
</dict>
</plist>